/* Our Clients */

.clients__item {
	@include flex-calc($indent, $elements: 2);
	@media screen and (min-width: $tablet) {
		@include flex-calc($indent, $elements: 3);
	}

	@media screen and (min-width: $desktop) {
		@include flex-calc($indent, $elements: 6);
	}
}

.clients__link {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 170px;
	height: 92px;
	border: 1px solid $second-border-color;
	border-radius: 4px;
	color: $second-border-color;
	transition: color $time-cubic, border-color $time-cubic;

	&:hover, &:focus {
		border-color: $active-color;
		color: $active-color;
	}
}

.icon__client {
	fill: currentColor;
}
