/* Logo */

.logo {
	display: inline-block;
	font-family: $second-font;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: $active-color;
}

.logo--mode-light {
	color: $pure-black;
}

.logo--mode-dark {
	color: $prime-white;
}