/* Our Team section */

.team {
	background-color: $second-bg-color;
}

.team__member {
	@include flex-calc($indent, $elements: 1);
	text-align: center;
	background-color: $prime-white;
	box-shadow: $team-member-shadow;
	border-radius: 0px 0px 4px 4px;

	@media screen and (min-width: $tablet) {
		@include flex-calc($indent, $elements: 2);
	}

	@media screen and (min-width: $desktop) {
		@include flex-calc($indent, $elements: 4);
	}

}

.member__content {
	padding: 30px;
}

.member__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.member__position {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	color: $grey-text;
}
