/* =======================
||						  ||
||	All list of main page ||
||						  ||
  ======================== */
.peculiarities__items,
.doing__items,
.team__members{
	@extend %list;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: $indent;

	@media screen and (min-width: $tablet) {
		flex-direction: row;
		justify-content: center;
	}

	@media screen and (min-width: $desktop) {
		flex-wrap: nowrap;
		align-items: center;
	}
}

.clients__items {
	@extend %list;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: $indent;

	@media screen and (min-width: $desktop) {
		flex-wrap: nowrap;
		align-items: center;
	}

}
/* h2 title for sections */

.title {
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: 0.03em;
	color: $prime-color;
	font-size: 28px;
	line-height: 1.17;

	@media screen and (min-width: $desktop) {
		margin-bottom: 50px;
		font-weight: 700;
		font-size: 36px;
	}
}
