/* Solutions section */

.solutions {
	padding-top: 118px;
	padding-bottom: 118px;
	text-align: center;
	@media screen and (min-width: $desktop) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.overlay {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: $prime-color;
	background-image: $hero-gradient, url(../images/background/hero-bg_sm.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	// Для ретіна екранів мобільна версія
	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: url(../images/background/hero-bg_sm@2x.jpg);
	}

	@media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
		background-image: url(../images/background/hero-bg_md.jpg);

		// Для ретіна екранів планшетна версія
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/background/hero-bg_md@2x.jpg);
		}
	}

	@media screen and (min-width: $tablet) {
		background-image: url(../images/background/hero-bg_lg.jpg);

		// Для ретіна екранів десктопна версія
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/background/hero-bg_lg@2x.jpg);
		}
	}

	// @media screen and (max-width: $mobile) {
	// 	max-width: ($mobile);
	// }

	// @media screen and (min-width: $tablet) {
	// 	max-width: $tablet;
	// }

	// @media screen and (min-width: $desktop) {
	// 	max-width: 1600px;
	// }
}

.solutions__title {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	font-weight: 900;
	text-transform: uppercase;
	color: $prime-white;
	font-size: 26px;
	line-height: 1.62;
	letter-spacing: 0.06em;

	@media screen and (min-width: $desktop) {
		max-width: 696px;

		font-size: 44px;
		line-height: 1.36;
	}
}

.solutions__btn {
	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	text-align: center;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	color: $prime-white;
	background-color: $active-color;
	box-shadow: $solution-btn-shadow;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;

	transition: background-color $time-cubic;

	&:hover,
	&:focus {
		background-color: $btn-accent-color;
	}
}
